{% extends "index.html" %}

{% block nav %}
<div class="col-3  p-3" style="background-color:#D6EAF8;">
    <nav class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="./menu1" role="tab" aria-controls="v-pills-profile" aria-selected="true"href="#">Menu 1</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="./menu2" role="tab" aria-controls="v-pills-profile" aria-selected="false"href="#">Menu 2</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="./menu3" role="tab" aria-controls="v-pills-profile" aria-selected="false"href="#">Menu 3</a>                           
    </nav>
{% endblock %}

{% block content %}
<h1 class="display-3 border-bottom">Menu 1</h1>
<h2>Lorem Ipsum</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt 
    ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco 
    laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
    voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat 
    non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

<h2>Finibus Bonorum et Malorum</h2>
<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam 
    est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius 
    modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, 
    quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? 
    Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, 
    vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?</p>

{% endblock %}