{% extends "index.html" %}

{% block nav %}
<div class="col-3  p-3" style="background-color:#D6EAF8;">
    <nav class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="./menu1" role="tab" aria-controls="v-pills-profile" aria-selected="false">Menu 1</a>
        <a class="nav-link active" id="v-pills-profile-tab" data-toggle="pill" href="./menu2" role="tab" aria-controls="v-pills-profile" aria-selected="true">Menu 2</a>
        <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="./menu3" role="tab" aria-controls="v-pills-profile" aria-selected="false">Menu 3</a>                           
    </nav>
{% endblock %}

{% block content %}
<h1 class="display-3 border-bottom">Menu 2</h1>
<h2>Lorem Ipsum</h2>
<p>Lorem ipsum dolor sit amet consectetur adipiscing elit, egestas consequat et odio eleifend aliquam 
    elementum, fermentum fames leo suscipit habitasse nulla. Praesent non taciti et pellentesque habitasse 
    quis pharetra, dignissim sagittis bibendum mollis quam lacinia, facilisis venenatis parturient urna 
    felis mattis. Erat lectus dictumst senectus lacus rutrum diam turpis nisi, fusce a mollis interdum 
    taciti vel malesuada curabitur pellentesque, sem ut sed habitasse neque feugiat cursus. Facilisis 
    pretium mi vestibulum cras enim fusce integer magnis, sodales ligula aenean iaculis eget vivamus duis 
    orci himenaeos, primis morbi nibh natoque porta fames quis.</p>

<p>Sollicitudin tincidunt at fermentum ad nunc dictum rutrum netus, turpis potenti ac et volutpat mi etiam, 
    risus parturient senectus tempor placerat iaculis in. Sodales dapibus vel pellentesque torquent dui nec 
    nullam curae, pharetra potenti sagittis cras penatibus molestie lacinia feugiat luctus, integer dictum 
    placerat blandit cursus rutrum erat. Imperdiet morbi dui senectus himenaeos varius mi massa dis bibendum 
    suspendisse laoreet, a ridiculus torquent nisi enim felis rutrum eu orci mollis molestie etiam, eleifend 
    convallis malesuada metus ornare purus sapien commodo fusce platea. Ad platea cum nostra sapien tellus 
    nascetur lobortis cras, neque hendrerit ut habitant suspendisse sagittis facilisis, netus nunc varius dui 
    luctus pretium enim.</p>

<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
    totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
    dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, 
    sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam  
    </p>

{% endblock %}